@CHARSET "ISO-8859-1";

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
    
    vertical-align: top;
}

.card {
	padding: 10px;
	margin: 20px 0px;
	/* border: 1px solid #ccc; */
	background: #f1f1f1;
}

.card h4 {
	font-size: 20pt;
}

.card dt {
	padding-top: 5px;
	color: #3276b1;
}

.card dd {
	font-size: 14pt;
	padding-bottom: 5px;
	border-bottom: 1px solid #ccc;
}