<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} | ShareMRI</title>
    <link rel="icon" 
      type="image/png" 
      href="/img/logo.png">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="/css/global.css">
	
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/"><img src="/img/logo.png" style="height:30px;"/> <b>ShareMRI</b></a>
        </div>
        <div class="collapse navbar-collapse">
          
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">How It Works</a></li>
          </ul>
          
          
          <!--
          <p class="navbar-text navbar-right">
          	{% if user %}
          		{{ user.email() }} (<a>logout</a>)
          	{% endif %}
          	
          	{% if not user %}
          		<a>Login</a>
          	{% endif %}
          </p>
          -->
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
    	{% if error_msg is defined %}
		<div class="row">
			<div class="col-md-6 col-md-offset-3" style="text-align:center;">
				<div class="alert alert-danger" role="alert">{{ error_msg }}</div>
			</div>
		</div>
		{% endif %}
	
	    {% block content %}
	
	    {% endblock %}
	    
    </div>
    
    <div class="container">
    	<div class="footer">
    		<hr />
	        <p><b>&copy; Copyright ShareMRI 2014.</b> All rights reserved.</p>
	    </div>  
	</div>
	
	
	<!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    
  </body>
</html>