{% extends "base.html" %}

{% block title %}{{ collection.name }}{% endblock %}

{% block content %}
	
	<div class="row">
		<div class="col-md-12">
			<h1>{{ collection.name }}</h1>
			<p class="lead">{{ collection.description }}</p>
			<a class="btn btn-primary" href="/collections/{{ collection.key().id() }}/upload">Upload New</a>
			<br />
			<br />
		</div>
	</div>
	
	<div class="panel panel-default">
	<div class="panel-heading">Available Scans</div>
  	<div class="panel-body">
	{% for scan in collection.collection_scans %}
	<div class="row">
		{% set mri = scan.get_meta_data() %}

		<div class="col-md-3">
			<div class="panel">
				<img class="img-rounded" src="/scans/{{ scan.key().id() }}.png" width="100%"/>
			</div>
		</div>
		<div class="col-md-3">
			<h4><span class="glyphicon glyphicon glyphicon-info-sign" style="color: #D1D1D1;"></span> Patient Information</h4>
			<table class="table">
				<tr><th>Name</th><td>{{ mri.PatientName }}</td></tr>
				<tr><th>Sex</th><td>{{ mri.PatientSex }}</td></tr>
				<tr><th>Birth Date</th><td>{{ mri.PatientBirthDate }}</td></tr>
				<tr><th>ID</th><td>{{ mri.PatientID }}</td></tr>
				<tr><th>Acc</th><td>{{ mri.AccessionNumber }}</td></tr>
			</table>
		</div>
		<div class="col-md-3">
			<h4><span class="glyphicon glyphicon glyphicon-info-sign" style="color: #D1D1D1;"></span> Study Information</h4>
			<table class="table">
				<tr><th>Institute</th><td>{{ mri.InstitutionName }}</td></tr>
				<tr><th>Physician</th><td>{{ mri.RequestingPhysician }}</td></tr>
				<tr><th>Date</th><td>{{ mri.StudyDate }}</td></tr>
				<tr><th>Time</th><td>{{ mri.StudyTime }}</td></tr>
			</table>
		</div>
		<div class="col-md-3">
			<h4><span class="glyphicon glyphicon glyphicon-info-sign" style="color: #D1D1D1;"></span> Body Part Information</h4>
			<table class="table">
				<tr><th>Name</th><td>{{ mri.BodyPartExamined }}</td></tr>
				<tr><th>Position</th><td>{{ mri.PatientPosition }}</td></tr>
			</table>
		</div>
	</div>
	<div class="row">
		&nbsp;
	</div>
	{% endfor %}
	</div>
	
{% endblock %}