{% extends "base.html" %}

{% block title %}Collections{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-12">
			<h1>My Collections</h1>
			<a class="btn btn-primary" href="/collections/create">New Collection</a>
			<br />
			<br />
		</div>
	</div>
	
	<div class="row">
	{% for collection in collections %}
		<div class="col-sm-6 col-md-3">
			<div class="thumbnail">
				<a href="/collections/{{ collection.key().id() }}/">
					<img src="/img/cd-icon.png" alt="Collection Icon" />
				</a>
				<div class="caption">
					<h3><a href="/collections/{{ collection.key().id() }}/">{{ collection.name }}</a></h3>
					<p>{{ collection.description }}</p>
				</div>
			</div>
		</div>
	{% endfor %}
	</div>
{% endblock %}