{% extends "base.html" %}

{% block title %}
	{% if scan_id is defined %}
		{% set mri = scan.get_meta_data() %}
		{{ mri.PatientName }} | {{ mri.StudyDescription }}
	{% else %}
		Convert new MRI
	{% endif %}
{% endblock %}

{% block content %}
	
	<div class="row">
		<div class="col-md-12" style="text-align:center;">
			<h3>Convert an MRI scan to PNG</h3>
			
			<form class="form-inline" role="form" action="{{ upload_url }}" method="POST" enctype="multipart/form-data">

				<input type="file" name="file" id="file" style="display:none">
				
				<div class="form-group"  style="width:50%;">
					<div class="input-group">
						<input id="photoCover" class="form-control" type="text" placeholder="Select MRI File To Convert">
						<a class="btn input-group-addon" onclick="$('input[id=file]').click();">Browse</a>
					</div>
				</div>
		
				<button class="btn btn-primary" type="submit" name="submit">Convert</button>

				
				<script type="text/javascript">
				$('input[id=file]').change(function() {
					$('#photoCover').val($(this).val());
				});
				</script>
			</form>
		</div>
	</div>
	
	<br />
	<br />
	
	{% if scan_id is defined %}
		{% set mri = scan.get_meta_data() %}
		<hr />
		<div class="row">
			<div class="col-md-12" style="text-align:center;">
				<h1>{{ mri.PatientName }} <small>{{ mri.StudyDescription }}</small></h1>
				<br/>
				<img class="img-responsize" src="/scans/{{ scan_id }}.png"/>
			</div>
			
			<div class="col-md-12" style="text-align:center;">
				<br/>
				<a class="btn btn-primary" href="/scans/{{ scan_id }}.png"> <span class="glyphicon glyphicon-save"></span> Download</a>
				<a class="btn btn-danger" > <span class="glyphicon glyphicon-remove-circle"></span> Remove</a>
			</div>
		</div>
		
		<br />
		<br />
	
		<div class="row row-centered">
					
				<div class="col-md-3 col-centered">
					<div class="card">
						<h4>Patient Information</h4>
						<dl>
							<dt>Name</dt><dd>{{ mri.PatientName }}</dd>
							<dt>Sex</dt><dd>{{ mri.PatientSex }}</dd>
							<dt>Birth Date</dt><dd>{{ mri.PatientBirthDate }}</dd>
							<dt>ID</dt><dd>{{ mri.PatientID }}</dd>
							<dt>Acc</dt><dd>{{ mri.AccessionNumber }}</dd>
						</dl>
					</div>
				</div>
				
				<div class="col-md-3 col-centered">
					<div class="card">
						<h4>Study Information</h4>
						<dl>
							<dt>Institute</dt><dd>{{ mri.InstitutionName }}</dd>
							<dt>Physician</dt><dd>{{ mri.RequestingPhysician }}</dd>
							<dt>Date</dt><dd>{{ mri.StudyDate }}</dd>
							<dt>Time</dt><dd>{{ mri.StudyTime }}</dd>
						</dl>
					</div>
				</div>
				
				<div class="col-md-3 col-centered">
					<div class="card">
						<h4>Body Part Information</h4>
						<dl>
							<dt>Name</dt><dd>{{ mri.BodyPartExamined }}</dd>
							<dt>Position</dt><dd>{{ mri.PatientPosition }}</dd>
						</dl>
					</div>
				</div>

		</div>
	{% else %}
		<div class="row">
			<div class="col-md-6 col-md-offset-3 well">
				<h1>How to use</h1>
				<p>This page will allow you to convert one MRI Scan to a sharable image file</p>
				<ol>
					<li>Insert the CD/DVD that you received from the scanning facility and insert it into your DVD drive</li>
					<li>Locate the scan you want to convert</li>
					<li>Click "Browse" above and select the file you want to convert</li>
					<li>Click "Convert"</li> 
				</ol>
			</div>
		</div>
	{% endif %}
	
	</div>
{% endblock %}