{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Easily Scan MRI Scans</h1>
        <p>Let MREye help you share your MRI scans with other online safely and securely.</p>
        <p>Login to start sharing.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="/collections/" role="button">Login &raquo;</a>
        </p>
      </div>

{% endblock %}