{% extends "base.html" %}

{% block title %}Create New Collection{% endblock %}

{% block content %}

		<h1>Create New Collection</h1>
		<br />
		<br />
		
		<form role="form" class="form-horizontal" action="/collections/create" method="post">
			
			<div class="form-group">
				<label for="name" class="col-sm-2 control-label">Name</label>
				<div class="col-sm-8">
					<input id="name" name="name" class="form-control" placeholder="Enter Collection Name"></input>
				</div>
			</div>
			
			<div class="form-group">
				<label for="description" class="col-sm-2 control-label">Description</label>
				<div class="col-sm-8">
					<textarea type="text" id="description" name="description"  class="form-control" placeholder="Enter Description"></textarea>
				</div>
			</div>
			
			<div class="form-group">
				<label for="scan_date" class="col-sm-2 control-label">Scan Date</label>
				<div class="col-sm-8">
					<input type="text" id="scan_date" name="scan_date" class="form-control"></input>
				</div>
			</div>
			
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-8">
					<a href="/collections/" class="btn btn-default">Cancel</a>
					<button type="submit" class="btn btn-primary">Create</button>
				</div>
			</div>
			
		</form>

{% endblock %}
