<!DOCTYPE html>
{% autoescape true %}
<html>

	<body>
		<h1>Upload MRI Scan</h1>
		<form action="{{ upload_url }}" method="POST" enctype="multipart/form-data">
			<lable>Upload File:</lable>
			<input type="file" name="file">
			<input type="submit" name="submit">
		</form>
	</body>
</html>
{% endautoescape %}